# The FCL Dev Wallet needs to know how to talk to the emulator.
# Because the FCL Dev Wallet is Javascript and uses FCL we talk to the emulator
# via the emulators grpc-http proxy
FLOW_ACCESS_NODE=http://localhost:8080

# The FCL Dev Wallet requires a single account to use as a base/starting point.
# This account will be used to create and manage other accounts.
# We recommend to use the service account definied in the flow.json file your emulator is using.
FLOW_ACCOUNT_ADDRESS=
FLOW_ACCOUNT_KEY_ID=0
FLOW_ACCOUNT_PUBLIC_KEY=
FLOW_TOKEN_ADDRESS=
FUSD_TOKEN_ADDRESS=
KIBBLE_TOKEN_ADDRESS=
FLOW_FUNGIBLE_ADDRESS=
FLOW_NONFUNGIBLE_ADDRESS=
NETWORK=